#container{
    width: 1000px;
    height: 1000px;
    margin: auto;
    text-align: center;
}

.bulb-off{
    width: 700px;
    height: 800px;
    background: url('Lightbulboff.png') no-repeat;
    margin: auto;
}

.bulb-on{
    width: 700px;
    height: 800px;
    background: url('lightbulbon.png') no-repeat;
    margin: auto;
}
